<body class="skin-{$skin} hold-transition sidebar-mini {if $collapsedMenu}sidebar-collapse{/if}">
<div class="wrapper">
    {include "header.latte"}
    <aside class="main-sidebar sidebar-dark-primary">
        <a href="{plink Homepage:}" class="brand-link">
            <span class="brand-text">{$brand|noescape}</span>
        </a>
        {if $search === 'sidebar'}
            {form search class=>"form-inline"}
                <div class="input-group">
                    {input q class=> "form-control form-control-sidebar", placeholder=> "Search ...", type => "search"}
                    <div class="input-group-append">
                        {input submit class=>"btn btn-sidebar"}
                    </div>
                </div>
            {/form}
        {/if}
        <div class="sidebar">
            {control menu:menu}
        </div>
    </aside>
    <div class="content-wrapper px-4 py-2">
        {control menu:breadcrumb}
        <div class="container-fluid">
            {snippet flash}
                <div n:foreach="$presenter->template->flashes as $flash"
                        class="alert alert-{$flash->type}" n:block="flashes">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {$flash->message|translate}
                </div>
            {/snippet}
            {$content|noescape}
        </div>
    </div>
    {include "footer.latte"}
</div>
</body>