<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {var $title = $control->getComponent('menu')->getTitle()}
        <title>{ifset $title}{$title|striptags} | {/ifset}{$appName}</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        {$webLoader->css('admin-bundle')|noescape}
        <link rel="shortcut icon" href="{$basePath}/favicon.ico">
    </head>

            {if $user->isLoggedIn()}
                {include "contentLogged.latte"}
            {else}
                {include "contentAnnonymous.latte"}
            {/if}

    {$webLoader->js('admin-bundle')|noescape}

    <div id="modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content"></div>
        </div>
    </div>
</html>
