<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{ifset title}{include title|striptags} | {/ifset}Nette Web</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        {control css}
        <link rel="shortcut icon" href="{$basePath}/favicon.ico">
    </head>

            {if $user->isLoggedIn()}
                {include "contentLogged.latte"}
            {else}
                {include "contentAnnonymous.latte"}
            {/if}

    {control js}

    <div id="modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content"></div>
        </div>
    </div>
</html>
