<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{ifset title}{include title|striptags} | {/ifset}Nette Web</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        {control css}
        <link rel="shortcut icon" href="{$basePath}/favicon.ico">
    </head>

            {if $user->isLoggedIn()}
                {include "contentLogged.latte"}
            {else}
                {include "contentAnnonymous.latte"}
            {/if}

    {control js}
</html>
