<li class="dropdown user user-menu nav-item">
	<a href="#" class="nav-link" data-toggle="dropdown">
		<img src="{$profileImage|nocheck}" class="user-image" alt="User Image" />
		<span class="hidden-xs">{$profileName}</span>
	</a>
	<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
		<div class="dropdown-header">
			<a n:if="$profileLink" href="{plink $profileLink}" >
				<img src="{$profileImage|nocheck}" class="img-circle" alt="User Image" />
			</a>
		</div>

		<div class="user-footer">
			<div class="pull-right">
				<a n:href="logout" class="btn btn-default btn-flat">Sign out</a>
			</div>
		</div>
	</div>
</li>

